@media(max-width:1000px ){
    .global-menu,.main-photo,.ranking-style,.stylist,.coupon{
        margin-left:100px;
    }
   
    .sta{
      margin:200px 0 40px 0;
    }
    
    .footer{
        padding-left:80px;
        height:800px;
        width:1000px;
    }
}



@media(max-width:670px ){
    .global-menu,.main-photo,.ranking-style,.stylist,.coupon{
        margin-left:100px;
    }
    
     .sta{
      margin:200px 0 40px 0;
    }
    
    .footer{
        padding-left:80px;    
    }
    
}
