@media(max-width:1000px ){
    body{
    margin-left:100px;
    }
    
    header{
        marginleft:none;
    
    footer{
    width:1000px;
    padding-bottom:100px;
    }
    
}



@media(max-width:670px ){
    body{
    margin-left:100px;
    }
    
    
    footer{
    width:1000px;
    padding-bottom:100px;
    }
    
}
