@media(max-width:1000px ){
    body{
    margin-left:100px;
    }
    
    footer{
    width:1000px;;
    padding-bootom:100px;
    }
    
}



@media(max-width:670px ){
    body{
    margin-left:100px;
    }
    
    
    footer{
    width:100%;
    padding-bootom:100px;
    }
    
}
